@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background: url(images/bg.jpg) no-repeat center center fixed;
    color: white;
}

main {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.splash {
    background: url(images/splash.jpg) no-repeat center center fixed;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    // display: none;

    .bet-box {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial;
        font-size: 1.25vw;
        background-color: rgba(black, 0.5);
        width: 33%;
        height: 33%;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -90%);
        #betAmount {
            font-size: 1vw;
            padding: 2.5%;
            width: 75%;
            margin: 5% 0;
        }
        #setBet {
            cursor: pointer;
            font-weight: bold;
            font-size: 1vw;
            display: block;
            margin: 0 auto;
            border: none;
            padding: 3%;
            background-color: #ffebc3;
        }
    }
}

.round-overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 6;
    background-color: rgba(white, 0.95);
    height: 100%;
    width: 100%;
    color: black;
    font-family: "Montserrat";
    font-size: 2vw;
}

.info-bar {
    margin-left: 5%;
    height: 100vh;
    width: 22.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hand {
    background-color: rgba(white, 0.2);
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    width: 100%;
    position: relative;

    .game-info {
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .amount {
            font-size: 2.5vw;
            font-family: Montserrat;
        }
    }
}

.game-image {
    position: relative;
    z-index: 1;
    width: 100%;
}

.round {
    margin-bottom: 10%;
}

.round, .combo {
    font-family: Montserrat;
    font-size: 1.5vw;
}

.label {
    font-family: Arial;
    font-size: 1.25vw;
}

.play-area {
    width: 77.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3% 0;
    position: relative;
}

.hand-row {
    img {
        width: 100%;
        padding: 0 1%;
        cursor: pointer;
        transition: transform .25s ease-in;
        &:hover {
            transform: scale(1.10);
        }
    }
}

.opponent-row {
    img {
        width: 100%;
    }
}

#card-wrapper {
    display: inline-block;
    width: 10%;
    margin: 0 1%;
    position: relative;
    transition: all .33s ease-out;
}

.next-round, .end-game {
    cursor: pointer;
    position: absolute;
    width: 15%;
    top: 50%;
    left: 95%;
    transform: translate(-95%, -50%);
    img {
        width: 100%;
    }
}

.end-game {
    display: none;
}

.selected {
    transform: translateY(-85%);
    opacity: 0.66;
}
.ai-selected {
    transform: translateY(85%);
    opacity: 0.66;
}

#replay {
    cursor: pointer;
    font-weight: bold;
    font-size: 2vw;
    display: block;
    margin: 5% auto;
    border: none;
    padding: 3.5%;
    color: white;
    background-color: rgba(black, 0.5);
}

#close {
    position: absolute;
    top: 2.5%;
    left: 97.5%;
    transform: translate(-97.5%, -2.5%);
    z-index: 4;
    width: 3%;
    cursor: pointer;
}

.dragoness {
    z-index: 4;
    cursor: pointer;
    position: absolute;
    left: 33%;
    top: 110%;
    transform: translate(-33%, -110%);
    width: 12.5%;
    transition: all .5s ease-out;
}

.info-box {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.25) 0%,rgba(0,0,0,1) 33%,rgba(0,0,0,1) 100%);

    #text {
        height: 99%;
    }
}

.active {
    left: 33%;
    top: 50%;
    transform: translate(-33%, -50%);
}